# CAPSTONE TWO: DATA WRANGLING

## RENTAL PRICES IN NYC

**Problem Statement**

- What opportunities exist to reduce one’s rent price in New York City? How do extrinsic factors affect the price of various neighborhoods?

**Context**

A realtor company has approached us with the opportunity to work together. They need an algorithm that can find how extrinsic factors affect the average rental prices of different neighborhoods. To do this they will test it on there newest client:  

Our client is moving to NYC from Orlando and is looking for a place to live for him and his wife. He’s curious to know about what factors drive rent prices; and is looking for somewhere around $3000.  Because of the drastic changes between these two cities; there are several factor that he values:

## DATA COLLECTION & ORGANIZATION - DATA SET 1

### DATASET 1 - Rent Prices

***Rent Prices for apartments in New York City***

- 22 Columns, 6724 Unique Rows of Information

In [1]:
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'

In [2]:
# Importing a list of Rent Prices

df = pd.read_csv (r'Rent Prices.csv')
df.head()

In [3]:
# Finding number of null values

df.isna().sum()

In [4]:
# Finding if currency is relevant information:

df.currency.nunique()

In [5]:
# Removing all Rent Prices that are not  from NY

df = df[df['state']=='NY']

In [6]:
# Dropping unnecessary columns, and columns plagued by null values

df = df.drop(['yearBuilt','url','longitude','homeStatus', 'paymentPeriod', 'real estate provider', 'isListed', 'relaxed', 'latitude', 'commute', 'currency', 'facts and features','state','city'], axis=1)

In [7]:
# Finding Unique Postal Codes: 

num_pc = df.postal_code.nunique()
print(num_pc)

In [8]:
# Creating a Neighborhood COLUMN: 

df['Neighborhood'] = pd.NaT

In [9]:
# Convert MISSING VALUES into into '99' -> CANT CONVERT TO 0 AS IT WOULD BE INACURATE

df.bathrooms = df.bathrooms.fillna(99)
df.bedrooms = df.bedrooms.fillna(99)
df.area = df.area.fillna(99999)

In [10]:
# Converting all FLOAT to INTERGERS

df.postal_code = df.postal_code.astype(int)
df.bedrooms = df.bedrooms.astype(int)
df.bathrooms = df.bathrooms.astype(int)
df.area = df.area.astype(int)

In [11]:
# RENAMING COLUMNS

df.rename(columns={'postal_code':'Postal_Code', 'title':'Unit_Type', 'address':'Address', 'price':'Cost', 'homeType':'Home_Type', 'bedrooms':'Bedroom_Num', 'bathrooms':'Bathroom_Num', 'area':'Area_SqFt'}, inplace=True)

In [12]:
df.Home_Type.unique()

array(['APARTMENT', 'SINGLE_FAMILY', 'MULTI_FAMILY', 'TOWNHOUSE', 'CONDO',
       'LOT'], dtype=object)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5431 entries, 68 to 6873
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Postal_Code   5431 non-null   int32
 1   Unit_Type     5431 non-null   object
 2   Address       5431 non-null   object
 3   Cost          5421 non-null   object
 4   Home_Type     5431 non-null   object
 5   Bedroom_Num   5431 non-null   int32
 6   Bathroom_Num  5431 non-null   int32
 7   Area_SqFt     5431 non-null   int32
 8   Neighborhood  0 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int32(4), object(4)
memory usage: 339.4+ KB

## DATA ORGANIZATION - DATA SET 2

- Values with missing Neighborhoods. Most likely zip code has not been assigned a Neighborhood. Will Assess them:
- tidy up price column. Instead of For Loops, try to join both data frames on a give key using a pandas operation merge.

In [14]:
# Converting all Costs into Intergers and replacing missing values with 0

df.Cost = df.Cost.str.replace('/mo|,','')
df.Cost = df.Cost.str.replace('$','')
df.Cost = df.Cost.str.replace('+','')
df.Cost = df.Cost.fillna(0)
df.Cost = df.Cost.astype(int)

In [15]:
# Clarifying the Home_Type Column 
df.Home_Type.unique()

array(['APARTMENT', 'SINGLE_FAMILY', 'MULTI_FAMILY', 'TOWNHOUSE', 'CONDO',
       'LOT'], dtype=object)

In [16]:
df.Home_Type = df.Home_Type.replace('SINGLE_FAMILY', 'HOUSE- SINGLE FAMILY')
df.Home_Type = df.Home_Type.replace('MULTI_FAMILY', 'HOUSE- MULTI FAMILY')

In [17]:
df.head()

,Postal_Code,Unit_Type,Address,Cost,Home_Type,Bedroom_Num,Bathroom_Num,Area_SqFt,Neighborhood
68,11378,Apartment for rent,"6155 60th Pl, Maspeth, NY 11378",2650,APARTMENT,3,1,1375,NaT
80,11361,House for rent,"217th St, Bayside, NY 11361",1250,HOUSE- SINGLE FAMILY,0,1,550,NaT
87,10001,Apartment for rent,"247 W 26th St APT 5B, New York, NY 10001",2500,HOUSE- MULTI FAMILY,1,1,500,NaT
93,10001,Apartment for rent,"358 W 30th St APT 2B, New York, NY 10001",2350,HOUSE- MULTI FAMILY,0,1,99999,NaT
95,10001,Apartment for rent,"420 W 25th St APT 7K, New York, NY 10001",5900,HOUSE- MULTI FAMILY,1,1,893,NaT

In [18]:
# Focusing on only lsitings that are available for rent

df.Unit_Type.unique()

array(['Apartment for rent', 'House for rent', 'Townhouse for rent',
       'Off market: Zestimate', 'Off market', 'Condo for rent',
       'Co-op for rent'], dtype=object)

In [19]:
rent = ['Apartment for rent', 'House for rent', 'Townhouse for rent', 'Condo for rent', 'Co-op for rent']
df = df[df['Unit_Type'].isin(rent)]

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5323 entries, 68 to 6873
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Postal_Code   5323 non-null   int32
 1   Unit_Type     5323 non-null   object
 2   Address       5323 non-null   object
 3   Cost          5323 non-null   int32
 4   Home_Type     5323 non-null   object
 5   Bedroom_Num   5323 non-null   int32
 6   Bathroom_Num  5323 non-null   int32
 7   Area_SqFt     5323 non-null   int32
 8   Neighborhood  0 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int32(5), object(3)
memory usage: 311.9+ KB

### DATASET 2 - Neighborhood Extrinsic Factors

***Useful for comparing how extrinsic factors can determine the apartment prices for different boroughs in New York City***

33 Columns, with 55 Rows of Data
- Columns include - Borough Name, Number of Housing Units, Average Price, Locations of Public Transportation, Diversity of Neighborhood Etc…
- Rows Include 55 different Neighborhoods.

In [21]:
import numpy as np

In [22]:
df2 = pd.read_csv (r'Neighborhoods.csv')
df2.head()

,sub_boro_names,boro_names,median_rent,born_in_new_york_state,car_free_commute,disabled_population,foreign_born_population,housing_units,mean_travel_time_to_work,median_income,...,new_certificates_of_occupancy,public_housing,subsidized_properties,building_age,racial_diversity_index,asian,black,hispanic,white,other_races
0,Astoria,Queens,2125.10,0.42,0.78,0.07,0.43,80598.09,37.04,50605.87,...,387.21,7584.0,57.0,83.252933,0.66,0.136169,0.066390,0.282858,0.479226,0.035356
1,Bay Ridge,Brooklyn,1678.72,0.54,0.65,0.06,0.37,52526.36,42.21,50795.57,...,52.11,0.0,9.0,94.103877,0.55,0.204362,0.011565,0.144371,0.612592,0.027110
2,Bayside/Little Neck,Queens,1962.32,0.54,0.34,0.05,0.40,46390.44,40.51,61084.74,...,86.77,0.0,0.0,72.417602,0.61,0.362974,0.017587,0.109906,0.477049,0.032484
3,Bedford Stuyvesant,Brooklyn,2288.53,0.62,0.79,0.10,0.20,55195.52,41.35,30129.29,...,434.87,9988.0,626.0,102.034872,0.55,0.022872,0.603755,0.187171,0.136842,0.049359
4,Bensonhurst,Brooklyn,1496.61,0.42,0.69,0.06,0.53,66917.95,44.93,39280.36,...,117.70,0.0,8.0,86.888459,0.60,0.336736,0.006405,0.128093,0.503084,0.025682

### DIVERSITY DATASET

In [23]:
# Creating a seperate DATASET for diversity

Diversity = df2.iloc[:,30:35]
Diversity['Neighborhood'] = df2.iloc[:,0]

Diversity.head()

,racial_diversity_index,asian,black,hispanic,white,Neighborhood
0,0.66,0.136169,0.066390,0.282858,0.479226,Astoria
1,0.55,0.204362,0.011565,0.144371,0.612592,Bay Ridge
2,0.61,0.362974,0.017587,0.109906,0.477049,Bayside/Little Neck
3,0.55,0.022872,0.603755,0.187171,0.136842,Bedford Stuyvesant
4,0.60,0.336736,0.006405,0.128093,0.503084,Bensonhurst

In [24]:
df2.boro_names.nunique()

5

In [25]:
df2 = df2.drop(['disabled_population','housing_units','rental_vacancy_rate','severe_crowding_rate', 'unemployment', 'households_with_under_18years_old', 'single_person_households', '25+_with_bachelors', '25+_no_high_school_diploma', 'public_housing', 'subsidized_properties', 'racial_diversity_index', 'asian', 'black', 'hispanic', 'white', 'other_races', 'new_residential_permits', 'new_certificates_of_occupancy'], axis=1)

In [26]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   sub_boro_names            55 non-null     object
 1   boro_names                55 non-null     object
 2   median_rent               55 non-null     float64
 3   born_in_new_york_state    55 non-null     float64
 4   car_free_commute          55 non-null     float64
 5   foreign_born_population   55 non-null     float64
 6   mean_travel_time_to_work  55 non-null     float64
 7   median_income             55 non-null     float64
 8   population                55 non-null     float64
 9   population_density        55 non-null     float64
 10  poverty_rate              55 non-null     float64
 11  labor_force_rate          55 non-null     float64
 12  income_diversity_ratio    55 non-null     float64
 13  subway                    55 non-null     float64
 14  park                      55 non-null     float64
 15  crime                     55 non-null     float64
 16  building_age              55 non-null     float64
dtypes: float64(15), object(2)
memory usage: 7.4+ KB

### COMBINING BOTH DATASETS

In [27]:
# Researching Zip Codes and assigning them a Neighborhood:

Astoria = [11101, 11102, 11103, 11104, 11105, 11106]
Bay_Ridge = [11209, 11228]
Bayside_Little_Neck = [11360, 11361, 11364]
Bedford_Stuyvesant = [11205, 11206, 11216, 11221, 11233]
Bensonhurst = [11204, 11214]
Borough_Park = [11204, 11218, 11219, 11220, 11230]
Brooklyn_Heights_Fort_Green = [11201, 11205, 11217]
Brownsville_Ocean_Hill = [11212, 11233]
Bushwick = [11206, 11207, 11221, 11237]
Central_Harlem = [10026, 10027, 10030, 10037, 10039]
Chelsea_Clinton_Midtown = [10026, 10027, 10030, 10037, 10039, 10001, 10010, 10016, 10018, 10019, 10036]
Coney_Island = [11224, 11235]
East_Flatbush = [11203]
East_Harlem = [10029, 10035]
East_New_York = [11207, 11208, 11239]
Elmhurst_Corona = [11369, 11370, 11371, 11368, 11373]
Flatbush = [11226, 11210]
Flatlands_Canarsie = [11234, 11236]
Flushing_Whitestone = [11354, 11355, 11357, 11358, 11356, 11362, 11363, 11366, 11367, 11420, 11422, 11423]
Greenwich_Village = [10003, 10011, 10012, 10014, 10005, 10280, 10281, 10282]
Highbridge = [10452, 10451, 10457, 10458]
Hillcrest = [10977, 11365]
Jackson_eights = [11370, 11372]
Jamaica = [11432, 11433, 11434, 11435, 11436, 11411, 11413, 11415, 11418, 11419, 11420, 11426]
Kingsbridge_Heights_Mosholu = [10463, 10467, 10468, 10464]
Lower_East_Side = [10002, 10006, 10004, 10007, 10013, 10038]
Middle_Village = [11379]
Mid_Island = [11953, 10314]
Morningside_Heights = [10031, 10039, 10025, 10027, 10034]
Morrisania_Belmont = [10456, 10459]
Mott_Haven = [10451, 10454, 10455]
North_Crown_Heights = [11217, 11238]
North_Shore = [11706, 10301, 10302, 10303, 10304, 10305, 10310]
Ozone_Park = [11416, 11417, 11421]
Park_Slope = [11231, 11215, 11217]
Pelham_Parkway = [10461, 10462]
Queens_Village = [11427, 11428, 11429]
Rego_Park = [11374, 11375]
Riverdale = [10463, 10470, 10471, 10472, 10473, 10474, 10475]
Rockaways = [11096, 11690, 11691, 11692, 11693, 11694, 11695, 11697, 11412]
Sheepshead_Bay = [11229, 11223] 
Soundview = [10462, 10460, 10461]
South_Crown_Heights = [11213, 11213, 11216, 11225, 11233]
South_Ozone_Park = [11414]
South_Shore = [10306, 10307, 10308, 10309, 10312]
Stuyvesant_Town = [10009, 10017, 10022, 10080]
Sunnyside_Woodside = [11101, 11104, 11377, 11378, 11385]
Sunset_Park = [11220, 11232]
Throgs_Neck = [10465]
University_Heights = [10453, 10468]
Upper_East_Side = [10021, 10028, 10065, 10075, 10128, 10044]
Upper_West_Side = [10023, 10024, 10025, 10069]
Washington_Heights = [10032, 10033, 10040]
Williamsbridge = [10466, 10467, 10469]
Williamsburg = [11206, 11211, 11249, 11222]

In [28]:
# Converting these Zipcodes into a Dictionary the name as keys, and zipcodes as values

ZipCode = {'Astoria' : Astoria, 'Bay Ridge' : Bay_Ridge, 'Bayside/Little Neck' : Bayside_Little_Neck, 'Bedford Stuyvesant' : Bedford_Stuyvesant, 
           'Bensonhurst' : Bensonhurst, 'Borough Park' : Borough_Park, 'Brooklyn Heights/Fort Greene' : Brooklyn_Heights_Fort_Green, 'Brownsville/Ocean Hill' : Brownsville_Ocean_Hill,
           'Bushwick' : Bushwick, 'Central Harlem' : Central_Harlem, 'Chelsea/Clinton/Midtown' : Chelsea_Clinton_Midtown, 'Coney Island' : Coney_Island,
           'East Flatbush' : East_Flatbush, 'East Harlem' : East_Harlem, 'East New York/Starrett City' : East_New_York, 'Elmhurst/Corona' : Elmhurst_Corona, 
           'Flatbush' : Flatbush, 'Flatlands/Canarsie' : Flatlands_Canarsie, 'Flushing/Whitestone' : Flushing_Whitestone, 'Greenwich Village/Financial District' : Greenwich_Village, 
           'Highbridge/South Concourse' : Highbridge, 'Hillcrest/Fresh Meadows' : Hillcrest, 'Jackson Heights' : Jackson_eights, 'Jamaica' : Jamaica,
           'Kingsbridge Heights/Mosholu' : Kingsbridge_Heights_Mosholu, 'Lower East Side/Chinatown' : Lower_East_Side, 'Middle Village/Ridgewood' : Middle_Village,
           'Mid-Island' : Mid_Island, 'Morningside Heights/Hamilton Heights' : Morningside_Heights, 'Morrisania/Belmont' : Morrisania_Belmont, 'Mott Haven/Hunts Point' : Mott_Haven,
           'North Crown Heights/Prospect Heights' : North_Crown_Heights, 'North Shore' : North_Shore, 'Ozone Park/Woodhaven' : Ozone_Park, 'Park Slope/Carroll Gardens' : Park_Slope,
           'Pelham Parkway' : Pelham_Parkway, 'Queens Village' : Queens_Village, 'Rego Park/Forest Hills' : Rego_Park, 'Riverdale/Kingsbridge' : Riverdale, 'Rockaways': Rockaways, 
           'Sheepshead Bay/Gravesend' : Sheepshead_Bay, 'Soundview/Parkchester' : Soundview, 'South Crown Heights' : South_Crown_Heights, 'South Ozone Park/Howard Beach' : South_Ozone_Park, 
           'South Shore' : South_Shore, 'Stuyvesant Town/Turtle Bay' : Stuyvesant_Town, 'Sunnyside/Woodside' : Sunnyside_Woodside, 'Sunset Park' : Sunset_Park, 'Throgs Neck/Co-op City' : Throgs_Neck,
           'University Heights/Fordham' : University_Heights,  'Upper East Side' : Upper_East_Side, 'Upper West Side': Upper_West_Side, 'Washington Heights/Inwood' : Washington_Heights,
           'Williamsbridge/Baychester' : Williamsbridge, 'Williamsburg/Greenpoint' : Williamsburg}

In [29]:
# Adding the neighborhood to the first DataFrame:

for key in ZipCode:
    for value in ZipCode[key]:
        for code in df.Postal_Code:
            if code == value:
                df.loc[df.Postal_Code == code, 'Neighborhood'] = key

In [30]:
# Finding how many values dont include the Neighborhood: 

sum(df.Neighborhood.isnull())

176

In [31]:
# Finding what Postal Codes do not have a Neighborhood: 

df3 = df[df.Neighborhood.isna()]
print(df3.Postal_Code.unique())

not_NY = [10550, 10704, 11001, 11004, 11509, 11580]

[10550 10704 11001 11004 11509 11580]

 - *Since the Postal Codes that are left over are not in NY, I'll remove these values*

In [32]:
# Dropping all values that are not in the 5 Buroughs: 

df = df.dropna()

## DATA DEFINTION

In [33]:
Rental_Price = df
Rental_Price.head()

,Postal_Code,Unit_Type,Address,Cost,Home_Type,Bedroom_Num,Bathroom_Num,Area_SqFt,Neighborhood
68,11378,Apartment for rent,"6155 60th Pl, Maspeth, NY 11378",2650,APARTMENT,3,1,1375,Sunnyside/Woodside
80,11361,House for rent,"217th St, Bayside, NY 11361",1250,HOUSE- SINGLE FAMILY,0,1,550,Bayside/Little Neck
87,10001,Apartment for rent,"247 W 26th St APT 5B, New York, NY 10001",2500,HOUSE- MULTI FAMILY,1,1,500,Chelsea/Clinton/Midtown
93,10001,Apartment for rent,"358 W 30th St APT 2B, New York, NY 10001",2350,HOUSE- MULTI FAMILY,0,1,99999,Chelsea/Clinton/Midtown
95,10001,Apartment for rent,"420 W 25th St APT 7K, New York, NY 10001",5900,HOUSE- MULTI FAMILY,1,1,893,Chelsea/Clinton/Midtown

In [34]:
Rental_Price.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5147 entries, 68 to 6873
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Postal_Code   5147 non-null   int32
 1   Unit_Type     5147 non-null   object
 2   Address       5147 non-null   object
 3   Cost          5147 non-null   int32
 4   Home_Type     5147 non-null   object
 5   Bedroom_Num   5147 non-null   int32
 6   Bathroom_Num  5147 non-null   int32
 7   Area_SqFt     5147 non-null   int32
 8   Neighborhood  5147 non-null   object
dtypes: int32(5), object(4)
memory usage: 301.6+ KB

In [35]:
df4 = Rental_Price.set_index('Neighborhood').groupby('Neighborhood').mean().sort_values(by='Cost', ascending=False)
Neighborhood_Avg = df4.loc[:, df4.columns!='Postal_Code']
Neighborhood_Avg.head()

,Cost,Bedroom_Num,Bathroom_Num,Area_SqFt
Neighborhood,,,,
Brownsville/Ocean Hill,6287.176471,2.205882,6.852941,68101.205882
Lower East Side/Chinatown,5837.531746,1.746032,1.365079,51958.420635
Upper West Side,5772.740260,1.571429,1.519481,51582.233766
Upper East Side,4619.653595,1.287582,1.254902,67778.039216
Greenwich Village/Financial District,4505.314465,1.238994,1.188679,57723.289308

In [36]:
ZipCode_Avg = Rental_Price.set_index('Postal_Code').groupby('Postal_Code').mean()
ZipCode_Avg.head()

                    Cost  Bedroom_Num  Bathroom_Num     Area_SqFt
Postal_Code
10001        4475.615385     1.153846      1.153846  54267.230769
10002        3598.444444     1.555556      1.111111  74263.666667
10003        3964.093023     1.232558      1.139535  54229.860465
10004        4579.166667     1.333333      1.333333  17469.333333
10005        4361.428571     1.428571      1.285714  29241.571429

In [37]:
Neighborhood = df2

Neighborhood.head()

,sub_boro_names,boro_names,median_rent,born_in_new_york_state,car_free_commute,foreign_born_population,mean_travel_time_to_work,median_income,population,population_density,poverty_rate,labor_force_rate,income_diversity_ratio,subway,park,crime,building_age
0,Astoria,Queens,2125.10,0.42,0.78,0.43,37.04,50605.87,179156.62,33.83,0.17,0.68,4.92,0.73,0.63,2.974474,83.252933
1,Bay Ridge,Brooklyn,1678.72,0.54,0.65,0.37,42.21,50795.57,126056.96,32.86,0.15,0.62,5.17,0.74,0.60,1.856024,94.103877
2,Bayside/Little Neck,Queens,1962.32,0.54,0.34,0.40,40.51,61084.74,119210.99,12.87,0.07,0.63,4.25,0.21,0.69,1.088525,72.417602
3,Bedford Stuyvesant,Brooklyn,2288.53,0.62,0.79,0.20,41.35,30129.29,135627.07,60.33,0.32,0.61,6.77,0.88,0.94,7.772004,102.034872
4,Bensonhurst,Brooklyn,1496.61,0.42,0.69,0.53,44.93,39280.36,180090.70,49.38,0.17,0.58,5.19,0.87,0.46,1.511147,86.888459

### DEFINITION OF COLUMNS

- ***population_density*** - The geographic area’s population divided by its land area.

- ***poverty_rate*** - The number of people below the poverty threshold divided by the number of people for whom poverty status was determined.
- ***labor_force_rate*** - The number of people aged 16 years and older who are in the civilian labor force, divided by the total number of non-institutionalized people aged 16 years and older.
- ***income_diversity_ratio*** - The income earned by the 80th percentile household divided by the income earned by the 20th percentile household for a given geographic area, excluding all households without positive income.
- ***subway*** - The percentage of residential units that are within a ½ mile walk of a station entrance for the New York City Subway, Long Island Rail Road, PATH, Amtrak, Metro-North Railroad, or Staten Island Railway.
- ***park*** - The percentage of residential units that are within a ¼ mile of a park.
- ***crime*** - The number of serious crimes, those classified as a major felony as defined by the New York City Police Department, committed in a given geographic area per 1,000 residents. At the city and borough levels, we report separate rates for serious property and violent crimes. Serious property crimes include most types of burglary, larceny, and motor vehicle theft. Serious violent crime includes most types of assault, murder (including nonnegligent manslaughter), rape, and robbery. For community district rates, we aggregating crime rates we first calculate the crime rate for each precinct. If a community district is entirely within one precinct, then that rate is directly used for the community district. If a community district contains portions of more than one precinct, we weight the crime rate from each precinct based on the share of all housing units within the community district that are in that particular precinct.