In [44]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler

## 1. Loading the Data

### 1.1 Combined DataSet

In [2]:
df = pd.read_pickle('df')
df.head()

,Postal_Code,Unit_Type,Address,Cost,Home_Type,Bedroom_Num,Bathroom_Num,Area_SqFt,Neighborhood,boro_names,median_rent,median_income,car_free_commute,population_density,poverty_rate,crime,subway,park,income_diversity_ratio,labor_force_rate
0,11378.0,Apartment for rent,"6155 60th Pl, Maspeth, NY 11378",2650.0,APARTMENT,3.0,1.0,1375.0,Sunnyside/Woodside,Queens,2543.07,54870.01,0.78,22.53,0.14,1.766784,0.89,0.79,4.07,0.67
1,11361.0,House for rent,"217th St, Bayside, NY 11361",1250.0,HOUSE- SINGLE FAMILY,0.0,1.0,550.0,Bayside/Little Neck,Queens,1962.32,61084.74,0.34,12.87,0.07,1.088525,0.21,0.69,4.25,0.63
2,10001.0,Apartment for rent,"247 W 26th St APT 5B, New York, NY 10001",2500.0,HOUSE- MULTI FAMILY,1.0,1.0,500.0,Chelsea/Clinton/Midtown,Manhattan,3545.57,82393.55,0.89,47.01,0.13,4.959078,0.97,0.71,7.32,0.76
3,10001.0,Apartment for rent,"358 W 30th St APT 2B, New York, NY 10001",2350.0,HOUSE- MULTI FAMILY,0.0,1.0,NaN,Chelsea/Clinton/Midtown,Manhattan,3545.57,82393.55,0.89,47.01,0.13,4.959078,0.97,0.71,7.32,0.76
4,10001.0,Apartment for rent,"420 W 25th St APT 7K, New York, NY 10001",5900.0,HOUSE- MULTI FAMILY,1.0,1.0,893.0,Chelsea/Clinton/Midtown,Manhattan,3545.57,82393.55,0.89,47.01,0.13,4.959078,0.97,0.71,7.32,0.76

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5140 entries, 0 to 5322
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Postal_Code             5140 non-null   float64
 1   Unit_Type               5140 non-null   object
 2   Address                 5140 non-null   object
 3   Cost                    5140 non-null   float64
 4   Home_Type               5140 non-null   object
 5   Bedroom_Num             5140 non-null   float64
 6   Bathroom_Num            5071 non-null   float64
 7   Area_SqFt               2652 non-null   float64
 8   Neighborhood            5140 non-null   object
 9   boro_names              5140 non-null   object
 10  median_rent             5140 non-null   float64
 11  median_income           5140 non-null   float64
 12  car_free_commute        5140 non-null   float64
 13  population_density      5140 non-null   float64
 14  poverty_rate            5140 non-null   float64
 15  crime                   5140 non-null   float64
 16  subway                  5140 non-null   float64
 17  park                    5140 non-null   float64
 18  income_diversity_ratio  5140 non-null   float64
 19  labor_force_rate        5140 non-null   float64
dtypes: float64(15), object(5)
memory usage: 843.3+ KB

In [4]:
df.shape

(5140, 20)

## 2. Encoding the Data

In [5]:
import category_encoders as ce
from sklearn.preprocessing import LabelEncoder

In [26]:
ce_ord = ce.OrdinalEncoder(cols = ['Unit_Type', 'Home_Type', 'Neighborhood', 'boro_names'])

In [30]:
df_ord = ce_ord.fit_transform(df)
df_ord.head()

,Postal_Code,Unit_Type,Address,Cost,Home_Type,Bedroom_Num,Bathroom_Num,Area_SqFt,Neighborhood,boro_names,median_rent,median_income,car_free_commute,population_density,poverty_rate,crime,subway,park,income_diversity_ratio,labor_force_rate
0,11378.0,1,"6155 60th Pl, Maspeth, NY 11378",2650.0,1,3.0,1.0,1375.0,1,1,2543.07,54870.01,0.78,22.53,0.14,1.766784,0.89,0.79,4.07,0.67
1,11361.0,2,"217th St, Bayside, NY 11361",1250.0,2,0.0,1.0,550.0,2,1,1962.32,61084.74,0.34,12.87,0.07,1.088525,0.21,0.69,4.25,0.63
2,10001.0,1,"247 W 26th St APT 5B, New York, NY 10001",2500.0,3,1.0,1.0,500.0,3,2,3545.57,82393.55,0.89,47.01,0.13,4.959078,0.97,0.71,7.32,0.76
3,10001.0,1,"358 W 30th St APT 2B, New York, NY 10001",2350.0,3,0.0,1.0,NaN,3,2,3545.57,82393.55,0.89,47.01,0.13,4.959078,0.97,0.71,7.32,0.76
4,10001.0,1,"420 W 25th St APT 7K, New York, NY 10001",5900.0,3,1.0,1.0,893.0,3,2,3545.57,82393.55,0.89,47.01,0.13,4.959078,0.97,0.71,7.32,0.76

In [31]:
ce_ord.category_mapping

[{'col': 'Unit_Type',
  'mapping': Apartment for rent    1
  House for rent        2
  Townhouse for rent    3
  Condo for rent        4
  Co-op for rent        5
  NaN                  -2
  dtype: int64,
  'data_type': dtype('O')},
 {'col': 'Home_Type',
  'mapping': APARTMENT               1
  HOUSE- SINGLE FAMILY    2
  HOUSE- MULTI FAMILY     3
  TOWNHOUSE               4
  CONDO                   5
  NaN                    -2
  dtype: int64,
  'data_type': dtype('O')},
 {'col': 'Neighborhood',
  'mapping': Sunnyside/Woodside                       1
  Bayside/Little Neck                      2
  Chelsea/Clinton/Midtown                  3
  Lower East Side/Chinatown                4
  Greenwich Village/Financial District     5
  Stuyvesant Town/Turtle Bay               6
  Upper East Side                          7
  Upper West Side                          8
  Morningside Heights/Hamilton Heights     9
  East Harlem                             10
  Washington Heights/Inwood               11
  North Shore                             12
  South Shore                             13
  Mid-Island                              14
  Mott Haven/Hunts Point                  15
  Highbridge/South Concourse              16
  University Heights/Fordham              17
  Morrisania/Belmont                      18
  Soundview/Parkchester                   19
  Riverdale/Kingsbridge                   20
  Kingsbridge Heights/Mosholu             21
  Throgs Neck/Co-op City                  22
  Williamsbridge/Baychester               23
  Astoria                                 24
  Brooklyn Heights/Fort Greene            25
  East Flatbush                           26
  Borough Park                            27
  Williamsburg/Greenpoint                 28
  East New York/Starrett City             29
  Bay Ridge                               30
  Flatbush                                31
  Brownsville/Ocean Hill                  32
  South Crown Heights                     33
  Bensonhurst                             34
  Park Slope/Carroll Gardens              35
  Sunset Park                             36
  Bushwick                                37
  Sheepshead Bay/Gravesend                38
  Coney Island                            39
  Flatlands/Canarsie                      40
  North Crown Heights/Prospect Heights    41
  Flushing/Whitestone                     42
  Hillcrest/Fresh Meadows                 43
  Elmhurst/Corona                         44
  Jackson Heights                         45
  Rego Park/Forest Hills                  46
  Middle Village/Ridgewood                47
  Jamaica                                 48
  Rockaways                               49
  South Ozone Park/Howard Beach           50
  Ozone Park/Woodhaven                    51
  Queens Village                          52
  NaN                                     -2
  dtype: int64,
  'data_type': dtype('O')},
 {'col': 'boro_names',
  'mapping': Queens           1
  Manhattan        2
  Staten Island    3
  Bronx            4
  Brooklyn         5
  NaN             -2
  dtype: int64,
  'data_type': dtype('O')}]

## 3. Missing Data

- **BATHROOM MISSING DATA**
- **AREA MISSING DATA**

Unsure whether to add this data now, or after in a machine learning pipeline

## 4. Train / Test Split

In [35]:
X = df_ord.drop(columns = ['Address', 'Cost'])
y = df_ord.Cost
X.shape, y.shape

((5140, 18), (5140,))

In [38]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.3, 
                                                    random_state=47)

In [40]:
X_train.shape, X_test.shape

((3598, 18), (1542, 18))

In [42]:
y_train.shape, y_test.shape

((3598,), (1542,))

### 4.1 Scaling the Data

In [47]:
scaler = StandardScaler()

X_tr_scaled = scaler.fit_transform(X_train)
X_te_scaled = scaler.fit_transform(X_test)

# When should I be sclaing my data, encoding my data, filling in missing values? Is there a "correct order" order?